.dropzone {
  /* display: inline-block;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
  height: 400px;
  border: 5px dashed rgb(117, 112, 112);
  padding: 2rem;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  width: 60vw;
}

.resultBox{
    flex-direction: column;
    height: 400px;
    border: 1px solid black;
    padding: 2rem;
    display: flex; 
    align-items: center; 
    text-align: center;
}

.custom-file-uploader {
  width: 400px;
  height: 40px;
}
